.dialog{
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 20px;
    &__up{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}